body {
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Preload so that the pawns could show up immidiately */
body::before {
    display: none;
    content: url(images/white-pawn.png) url(images/black-pawn.png) url(images/white-king.png) url(images/black-king.png);
} 

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: white;
    transition: opacity 1s;
}

#background {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/background.jpg) no-repeat center fixed;
    background-size: cover;
    opacity: 0.2;
}

#flex-container, #cover-flex-container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

#cover-flex-container {
    z-index: 1;
    justify-content: center;
}

.knight {
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(30%, transparent) , to(rgba(250, 250, 250, 0.2)));
    transition: opacity 0.5s;
}

#white-knight {
    transform: rotateY(180deg);
}

#black-knight {
    filter: invert(100%);
}

#board {
    display: flex;
    background-color: rgb(40, 40, 40);
    box-shadow: 0 0 0.2rem 0.05rem rgba(0, 0, 0, 0.5);
}

#inner-border {
    width: 90%;
    height: 90%;
    margin: auto;
    border: 0.75rem solid rgb(80, 80, 80);
    box-sizing: border-box;
}

/* Tiles */
#inner-border div {
    width: 12.5%;
    height: 12.5%;
    float: left;
    background-size: 95%;
    background-position: center;
    background-repeat: no-repeat;
}

#cover {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 5rem;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: 'Cinzel', serif;
    text-shadow: 0.2rem 0.2rem 4px gray;
    transition: background-color 0.5s;
}

#rules {
    font-size: 1.8rem;
}

#rules h1 {
    padding-top: 1.5rem;
    padding-left: 1rem;
    text-align: center;
    letter-spacing: 1rem;
    font-size: 4rem;
}

#rules ul {
    list-style: none;
    font-size: 1.6rem;
}

/*Diamonds */
#rules ul li::before {
    content: "\2666";
    display: inline-block;
    margin-left: 1rem;
    width: 1.2rem;
}

#rules a {
    font-weight: bold;
    text-decoration: none;
}

#rules a:hover {
    text-decoration: underline;
}

#play-button, #newgame-button {
    align-self: center;
    padding: 0.4rem;
    box-sizing: border-box;
    border: 0.05rem solid white;
    border-radius: 0.4rem;
    font-size: 3rem;
    color: white;
    background-color: rgba(200, 200, 200, 0.6);
    -webkit-text-stroke: 0.05rem gray;
    box-shadow: 0.1rem 0.1rem 2px gray;
}

#play-button {
    transform: translateY(-40%);
}

#newgame-button {
    display: none;
}

#play-button:hover, #newgame-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0.1rem 0.1rem 0.25rem gray inset, -0.1rem -0.1rem 0.25rem gray inset;
}

.white-tile {
    background-color: white;
}

.black-tile {
    background-color: gray;
}

.pressed-pawn {
    box-shadow: 0.05rem 0.05rem 0.25rem 0.025rem inset;
}

.white-pawn {
    background-image: url(images/white-pawn.png);
}

.black-pawn {
    background-image: url(images/black-pawn.png);
}

.white-king {
    background-image: url(images/white-king.png);
}

.black-king {
    background-image: url(images/black-king.png);
}

.suggested-move {
    background-color: dodgerblue;
    transition: background-color 0.5s;
}

.intermediate-capture {
    box-shadow: 0.05rem 0.05rem 0.2rem 0.2rem inset;
    transition: box-shadow 0.2s;
}

.capture {
    background-color: red;
    transition: background-color 0.5s;
}

@media (max-width: 768px) {
    #flex-container {
        flex-direction: column;
    }
    
    #black-knight {
        transform: rotateX(180deg);
    }
    
    #black-knight {
        order: 1;
    }
    
    #board {
        order: 2;
    }
    
    #white-knight {
        order: 3;
    }
}